<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
   <!-- Inserting values as element --> 
   <!--<bean name="emp" class="com.priyam.spring.springcore.Employee">
    	<property name="id">
    	<value>10</value>
    	</property>
    	
    	<property name="name">
    	<value>Priyam</value>
    	</property>
    	</bean>-->
     
     
     <!-- Inserting values as attribute --> 
     <!--  <bean name="emp" class="com.priyam.spring.springcore.Employee">
     <property name="id" value="10"></property>
     <property name="name" value="Priyam"></property>
     </bean>-->
     
     
     <!-- Inserting values as p schema or p namespace  -->
     <bean name="emp" class="com.priyam.spring.springcore.Employee" p:id="20" p:name="Priyam"></bean>
     
     
     

</beans>